{% extends "layout.html" %}
{% block content %}
    <h2>Entrees</h2>
    <form action="{{ url_for('sign') }}" method=post>
		<p class="heading">Title: <input type=text name=Title></p>
		<p class="heading">Author: <input type=text name=author></p>
		<p class="heading">Ingredient List: <input type=text name=ingredient_list></p>
		<p class="heading">Time: <input type=text name=Time></p>
		<p class="heading">Skill Level: <input type=text name=skill_level></p>
    <p class="heading">Description:
	<textarea rows=5 cols=50 name=description></textarea></p>
	<p><input type=submit value=Sign></p>
    </form>

{% endblock %}

