{% extends "layout.html" %}
{% block content %}
<h3>Enter a new recipe here <a href="{{ url_for('sign') }}">here</a><h3>
	<h3>Entries</h3>
    {% for entry in entries %}
        <p class=entry>
				Title: {{ entry.Title }}. <br>Author: {{ entry.Author }}.
	    <br>Ingredient list: {{ entry.Ingredient_list }}.
			<br>Time {{ entry.Time }}.
			<br>Skill Level {{ entry.Skill_level }}.
			<br>Description {{ entry.Description }}.
        </p>
    {% endfor %}

{% endblock %}
