<!doctype html>
<html>
<title>My Visitors</title>
<link rel=stylesheet type=text/css href="/static/style.css">
<div class=page>
    
    <h2>Enter URL</h2>
	<form action="{{ url_for('index') }}" method=post>
        <p class="heading">URL: <input type=text name=url>
		<p><input type=submit value=submit></p>
	</form>	
    
</div>
</html>
