{% extends "layout.html" %}
{% block content %}
    <h2>Results</h2>
	

	{% for entity in entities %}
		<br>Original Text: {{entities[entity]['foreignText'] }}</br>
		<br>Translation text: {{entities[entity]['translatedText'] }}</br>

        <p class="entity">
		<br>name: {{ entities[entity]['name'] }}</br>
		<br>noun: {{ entities[entity]['noun'] }}</br>
		<br>salience: {{ entities[entity]['salience'] }}</br>
		<br>wikipedia url: {{ entities[entity]['wikipedia_url'] }}</br>
		<br>mid: {{ entities[entity]['mid'] }}</br>
		</p>
	{% endfor %}

    <h3> <a href="/">Try another one</a></h3>


{% endblock %}
